html {
    font-family: monospace;
    font-size: 100%;
    box-sizing: border-box;
    background-color: black;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .hidden {
    display: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #160101;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 25px 50px 25px 50px;
  }
  ul li:not(:last-child) {
    padding-right: 25px;
  }
  h1 {
    font-size: 32px;
    margin: 25px 50px 25px 50px;
  }
  
  main {
    margin: 25px 50px 25px 50px;
    color: #ffffff;
  }
  a {
    color: #e0eeee;
  }
  
  article,
  section {
    margin: 15px 15px 25px 15px;
  }

  h2 {
    padding-bottom: 5px;
    color: rgb(223, 22, 22);
  }

  h3 {
    padding-bottom: 5px;
    color: rgb(230, 209, 209);
  }

  input[type="text"],
  input[type="password"] {
    margin: 5px 0 5px 0;
    padding: 5px;
  }
  
  button,
  #nav_login {
    margin: 5px 0 5px 0;
    padding: 10px 16px;
    background-color: #920000;
    color: #ffffff;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover,
  button:focus,
  #nav_login:hover,
  #nav_login:focus {
    background-color: #ec1717;
  }